absl-py==1.4.0
accelerate==0.22.0
addict==2.4.0
aenum==2.2.6
aiofiles==23.2.1
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
aiosmtplib==2.0.0
aiosqlite==0.19.0
alpha-vantage==2.3.1
altair==4.2.0
altgraph==0.17.3
anyio==3.6.2
appdirs==1.4.4
argcomplete==3.0.8
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
asttokens==2.1.0
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.1.0
audioread==3.0.1
awsebcli==3.20.6
backcall==0.2.0
backoff==2.2.1
bardapi==0.1.39
basicsr==1.4.2
beautifulsoup4==4.11.1
black==22.12.0
bleach==5.0.1
blinker==1.6.2
blis==0.7.9
boto3==1.26.130
botocore==1.29.130
branca==0.6.0
Brotli==1.1.0
bs4==0.0.1
cachetools==5.2.0
catalogue==2.0.8
cement==2.8.2
certifi==2023.7.22
cffi==1.15.1
cfn-flip==1.3.0
channels==4.0.0
charset-normalizer==2.0.12
chromedriver==2.24.1
click==8.1.3
cmake==3.25.2
colorama==0.4.6
coloredlogs==15.0.1
comtypes==1.2.0
confection==0.1.0
contourpy==1.0.6
cryptography==41.0.1
cssselect==1.2.0
cssselect2==0.7.0
cssutils==2.6.0
curl-cffi==0.5.7
cycler==0.11.0
cymem==2.0.7
datascience==0.17.5
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20230430
diffusers @ git+https://github.com/huggingface/diffusers@22ea35cf23915d9f74800a7a387fbf286131b9c9
dilib==0.5.0
discord.py==2.3.2
distlib==0.3.6
dj-database-url==2.1.0
Django==5.0.6
django-cors-headers==4.2.0
django-dajax==0.9.2
django-dajaxice==0.7
django-extensions==3.2.3
django-import-export==3.2.0
django-livereload-server==0.4
django-mongodb-engine==0.6.0
django-multiupload==0.6.1
django-rest-paystack==2.2.2
django-storages==1.13.2
django-video-embedding==3.5
djangorestframework==3.14.0
djangotoolbox==1.8.0
djongo==1.3.6
dnspython==2.4.2
docutils==0.20.1
docx==0.2.4
durationpy==0.5
easygui==0.98.3
EasyProcess==1.1
einops==0.8.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
entrypoint2==1.1
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
face-recognition==1.3.0
face-recognition-models==0.3.0
facexlib==0.3.0
fairscale==0.4.13
fake-useragent==1.2.1
fastapi==0.103.0
fastjsonschema==2.16.2
fbchat==1.9.7
feedparser==6.0.10
ffmpy==0.3.1
filelock==3.8.0
filterpy==1.4.5
fire==0.5.0
Flask==2.2.2
flask-ngrok==0.0.25
flatbuffers==23.5.26
folium==0.13.0
fonttools==4.38.0
forex-python==1.8
freeGPT==1.3.2
frozenlist==1.3.3
fsspec==2023.6.0
ftfy==6.1.1
future==0.18.2
gast==0.4.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.0
gfpgan==1.3.8
gitdb==4.0.10
GitPython==3.1.34
glide-text2im @ git+https://github.com/openai/glide-text2im@69b530740eb6cef69442d6180579ef5ba9ef063e
google==3.0.0
google-ai-generativelanguage==0.6.6
google-api-core==2.11.0
google-api-python-client==2.85.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-generativeai==0.7.1
google-pasta==0.2.0
googleapis-common-protos==1.57.0
GoogleBard==2.1.0
googlesearch-python==1.2.3
gpt-2-simple==0.8.1
gradio==3.23.0
graphviz==0.20.1
grpcio==1.64.1
grpcio-status==1.62.2
grpcio-tools==1.53.0
gTTS==2.3.2
gunicorn==21.2.0
gurobipy==11.0.0
h11==0.14.0
h2==4.1.0
h5py==3.9.0
heroku==0.1.4
hjson==3.1.0
hpack==4.0.0
html5lib==1.1
httpcore==0.17.3
httplib2==0.21.0
httpx==0.24.1
huggingface-hub==0.16.4
humanfriendly==10.0
hyperframe==6.0.1
idna==3.4
imageai==3.0.3
imageio==2.31.4
imageio-ffmpeg==0.4.8
importlib-metadata==6.8.0
imutils==0.5.4
invisible-watermark==0.2.0
ipinfo==4.4.2
ipykernel==6.17.1
ipython==8.6.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.23.2
jupyter_client==7.4.7
jupyter_core==5.0.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
kaggle==1.5.16
kappa==0.6.0
keras==2.13.1
keyboard==0.13.5
keyring==23.13.1
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
kiwisolver==1.4.4
kneed==0.8.2
langcodes==3.3.0
lazy_loader==0.3
lbry-libtorrent==1.2.4
libclang==16.0.6
libcst==1.0.1
librosa==0.9.2
linkify-it-py==2.0.2
llvmlite==0.41.0
lmdb==1.4.1
lxml==4.9.2
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupPy==1.14
MarkupSafe==2.1.1
matplotlib==3.7.0
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==2.0.4
mongoengine==0.27.0
more-itertools==9.0.0
moreorless==0.4.0
MouseInfo==0.1.3
mpmath==1.3.0
mss==9.0.1
multidict==6.0.4
murmurhash==1.0.9
mypy==1.3.0
mypy-extensions==1.0.0
mysql==0.0.3
mysql-connector-python==8.2.0
mysqlclient==2.2.0
names==0.3.0
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.1
ngrok==0.6.0
nltk==3.8.1
noisereduce==3.0.2
notebook==6.5.2
notebook_shim==0.2.2
numba==0.58.0
numpy==1.24.2
oauthlib==3.2.2
odfpy==1.4.1
onnxruntime==1.16.0
openai==0.27.8
opencage==2.3.0
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
opencv-python-headless==4.8.0.76
openpyxl==3.0.10
opt-einsum==3.3.0
orjson==3.9.5
outcome==1.2.0
packaging==21.3
paho-mqtt==1.6.1
panda==0.3.1
pandas==1.5.1
pandas-stubs==1.5.2.221213
pandoc==2.3
pandocfilters==1.5.0
param==1.13.0
parse==1.19.1
parso==0.8.3
pathlib==1.0.1
pathspec==0.10.1
pathy==0.10.2
patsy==0.5.3
pdf2image==1.16.3
pdfkit==1.0.0
pefile==2022.5.30
phonenumbers==8.13.23
pickleshare==0.7.5
Pillow==9.3.0
placebo==0.9.0
platformdirs==2.6.2
playsound==1.3.0
plotly==5.11.0
plumbum==1.8.3
ply==3.11
plyer==2.1.0
pocketsphinx==5.0.1
pooch==1.7.0
premailer==3.10.0
preshed==3.0.8
prometheus-client==0.15.0
prompt-toolkit==3.0.32
proto-plus==1.24.0
protobuf==4.21.12
psutil==5.9.4
psycopg2==2.9.6
psycopg2-binary==2.9.5
pure-eval==0.2.2
py==1.11.0
pyaes==1.6.1
pyarrow==13.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
PyAutoGUI==0.9.54
pycparser==2.21
pycryptodome==3.19.0
pydantic==1.10.11
pydeck==0.8.1b0
pydotplus==2.0.2
pydub==0.25.1
pydyf==0.10.0
pyee==8.2.2
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.13.0
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
PyJWT==2.6.0
PyMatting==1.1.8
pymongo==4.6.1
Pympler==1.0.1
PyMsgBox==1.0.9
PyMuPDF==1.22.3
Pyomo==6.7.0
pyparsing==3.0.9
PyPasser==0.0.5
PyPDF2==3.0.1
pyperclip==1.8.2
pyphen==0.15.0
pypiwin32==223
pyppeteer==1.0.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyquery==2.0.0
pyre-extensions==0.0.29
pyreadline3==3.4.1
PyRect==0.2.0
pyrsistent==0.19.2
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-decouple==3.8
python-docx==1.1.0
python-dotenv==0.21.1
python-forex-quotes==2.0.3
python-multipart==0.0.6
python-qbittorrent==0.4.3
python-slugify==8.0.1
python3-openid==3.2.0
pyttsx3==2.90
pytweening==1.0.7
pytz==2022.6
PyWavelets==1.4.1
pywin32==305
pywin32-ctypes==0.2.0
pywinpty==2.0.9
PyYAML==5.4.1
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
ratelim==0.1.6
regex==2022.10.31
rembg==2.0.50
replicate==0.11.0
requests==2.31.0
requests-html==0.10.0
requests-oauthlib==1.3.1
resampy==0.4.3
retry==0.9.2
rich==13.5.2
rsa==4.9
s3transfer==0.6.1
safetensors==0.3.3
scapy==2.5.0
scikit-image==0.21.0
scikit-learn==1.2.1
scipy==1.11.2
seaborn==0.12.1
selenium==4.22.0
semantic-version==2.8.5
Send2Trash==1.8.0
sentencepiece==0.1.99
sgmllib3k==1.0.0
simplejson==3.19.1
six==1.14.0
sklearn==0.0.post1
sklearning==0.0.1
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
socksio==1.0.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.3.2.post1
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacytextblob==4.0.0
SpeechRecognition==3.8.1
sqlparse==0.4.4
srsly==2.4.6
stability-sdk==0.8.4
stack-data==0.6.1
starlette==0.27.0
statsmodels==0.14.0
stdlibs==2022.10.9
streamlit==1.21.0
sympy==1.12
ta==0.10.2
tablib==3.4.0
tabulate==0.9.0
tb-nightly==2.15.0a20230927
Telethon==1.35.0
tenacity==8.1.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-hub==0.14.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
terminado==0.17.0
text-unidecode==1.3
textblob==0.15.3
thinc==8.1.10
threadpoolctl==3.1.0
tifffile==2023.9.18
tinycss2==1.3.0
tls-client==0.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
toolz==0.12.0
toposort==1.10
torch==2.0.0
torchvision==0.15.1
tornado==6.2
tqdm==4.64.1
trailrunner==1.4.0
traitlets==5.5.0
transformers==4.32.1
trio==0.22.0
trio-websocket==0.9.2
troposphere==4.3.2
twilio==8.2.0
typer==0.9.0
types-pytz==2022.6.0.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2022.6
tzlocal==5.0.1
uc-micro-py==1.0.2
ufmt==2.0.1
uritemplate==4.1.1
urllib3==1.26.12
usort==1.0.5
uuid==1.30
uvicorn==0.23.2
validators==0.22.0
vega-datasets==0.9.0
virtualenv==20.16.7
virtualenvwrapper-win==1.2.7
w3lib==2.1.2
waitress==2.1.2
Wand==0.6.11
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.6
weasyprint==62.1
webdriver-manager==3.8.5
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==2.2.2
wget==3.2
whitenoise==6.5.0
widgetsnbextension==4.0.3
wrapt==1.15.0
wsproto==1.2.0
xformers==0.0.20
xgboost==2.0.0
xlrd==2.0.1
XlsxWriter==3.1.9
xlwt==1.3.0
yagmail==0.15.293
yahoo-fin==0.8.9.1
yapf==0.40.2
yarl==1.9.2
zappa==0.56.1
zipp==3.11.0
zopfli==0.2.3
